.container {
   background-color: #003580;
}
.subscribeWrap {
   background-color: #003580;
   width: 58%;
   margin: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.title {
   color: white;
   margin: 3rem 0 0 0;
}
.subtitle {
   color: white;
}
.inputAndBtn {
}
.inputEmail {
   color: #d3d3d3;
   padding: 1rem 6rem 1rem 1rem;
   border-radius: 8px;
}
.btnSubscribe {
   color: white;
   background-color: #0071c2;
   margin-left: 0.5rem;
   padding: 1rem 0.5rem;
   border-radius: 8px;
   margin-bottom: 3rem;
}
