.hotelListContainer {
   display: flex;
   justify-content: center;
   margin: auto;
}

.hotelListWrap {
   margin: 0 15px 5rem 0;
}

.hotelListWrap img {
   width: 18rem;
   object-fit: cover;
   height: 15rem;
}

.hotelListWrap a {
   display: flex;
   flex-direction: column;
   /* padding: 5rem 0; */
}
.hotelListWrap > p {
   padding: 0.5rem 0;
}
.hotelListWrap h5 {
   padding-bottom: 0.5rem;
}

.rateWrap {
   display: flex;
   align-items: center;
}
.rate {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #003580;
   color: white;
   padding: 0.2rem;
   font-size: 14px;
   margin-right: 0.5rem;
}
.type {
   font-size: 14px;
}
