.headerContainer {
   background-color: #003580;
}
.headerWrap {
   color: white;
   background-color: #003580;
   display: flex;
   flex-direction: column;
   margin: auto;
   width: 58%;
}
.title {
   padding: 0.5rem 0;
}
.subtitle {
   padding: 1rem 0;
}
.headerBtn {
   background-color: #0071c2;
   width: 18%;
   color: white;
   padding: 0.6rem 0;
}

/* search bar */
.searchBar {
   border: 3px solid #febb02;
   display: flex;
   color: #d3d3d3;
   justify-content: space-evenly;
   background-color: white;
   align-items: center;
   border-radius: 4px;
   margin-top: 2rem;
   transform: translateY(50%);
}
.inputBoxWrap {
   background-color: white;
   display: flex;
   padding: 0.8rem;
   align-items: center;
}
.icon {
   /* justify-content: space-evenly; */
   color: #d3d3d3;
   margin-right: 0.5rem;
}
.inputBox {
   height: 100%;
   border: none;
}
.btnSearch {
   background-color: #0071c2;
   padding: 0.5rem;
   border-color: #fff;
   color: #fff;
}

/* Style for the date range picker container */
.dateChoose {
   cursor: pointer;
   z-index: 3;
}
.date {
   margin-top: 3.2rem;
   position: absolute;
   z-index: 2;
}
